{% extends "tool-template.j2" %}
{% block tools %}
	<toolbox name="Line of Sight Analyst" alias="losAnalyst">
		<toolsets/>
	</toolbox>
{% endblock %}	
{% block dataInfo %}
		<idCitation>
			<resTitle>Line of Sight Analyst</resTitle>
		</idCitation>
		<idPurp>A toolbox for visibility analysis. Supports creation and analyses of Lines of Sight and also Horizon extraction from Lines of Sight.</idPurp>
		<idAbs>A toolbox for visibility analysis. Supports creation and analyses of Lines of Sight and also Horizon extraction from Lines of Sight. Version {{version}}.
Created by: {{author}}</idAbs>
{% endblock %}	
