{% extends "tool-template.j2" %}
{% block tools %}
	<tool name="AnalyseLoS" displayname="Analyse of Lines of Sight" toolboxalias="losAnalyst" xmlns="">
		<parameters>
			<param name="in_los" displayname="Lines of Sight" type="Required" direction="Input" datatype="Feature Layer" expression="in_los">
				<dialogReference>&lt;DIV STYLE="text-align:Left;"&gt;&lt;DIV&gt;&lt;P&gt;&lt;SPAN&gt;Input Lines of Sight in form of Feature Layer.&lt;/SPAN&gt;&lt;/P&gt;&lt;/DIV&gt;&lt;/DIV&gt;</dialogReference>
			</param>
			<param name="in_observer_offset" displayname="Observer points offset" type="Required" direction="Input" datatype="String" expression="in_observer_offset">
				<dialogReference>&lt;DIV STYLE="text-align:Left;"&gt;&lt;P&gt;&lt;SPAN&gt;Vertical offset of observers from the surface. Specified as field, as each observer point can have different offset.&lt;/SPAN&gt;&lt;/P&gt;&lt;/DIV&gt;</dialogReference>
			</param>
			<param name="in_target_offset" displayname="Target points offset" type="Required" direction="Input" datatype="String" expression="in_target_offset">
				<dialogReference>&lt;DIV STYLE="text-align:Left;"&gt;&lt;DIV&gt;&lt;P&gt;&lt;SPAN&gt;Vertical offset of the target from the surface. Specified as field, as each target point can have different offset.&lt;/SPAN&gt;&lt;/P&gt;&lt;/DIV&gt;&lt;/DIV&gt;</dialogReference>
			</param>
			<param name="in_object_size" displayname="Object size" type="Required" direction="Input" datatype="Double" expression="in_object_size">
				<dialogReference>&lt;DIV STYLE="text-align:Left;"&gt;&lt;DIV&gt;&lt;P&gt;&lt;SPAN&gt;Size of the object  that is used to determine fuzzy visibility.&lt;/SPAN&gt;&lt;/P&gt;&lt;/DIV&gt;&lt;/DIV&gt;</dialogReference>
			</param>
			<param name="in_recognition_acuinty" displayname="Recognition acuinty" type="Required" direction="Input" datatype="Double" expression="in_recognition_acuinty">
				<dialogReference>&lt;DIV STYLE="text-align:Left;"&gt;&lt;DIV&gt;&lt;P&gt;&lt;SPAN&gt;Recognition acuinty of the observer that is used to determine fuzzy visibility. Default value is 1 arc minute which equals to 1/60 of degree or 0,017.&lt;/SPAN&gt;&lt;/P&gt;&lt;/DIV&gt;&lt;DIV&gt;&lt;P&gt;&lt;SPAN /&gt;&lt;/P&gt;&lt;/DIV&gt;&lt;/DIV&gt;</dialogReference>
			</param>
			<param name="in_clear_visibility_distance" displayname="Clear visibility distance limit" type="Required" direction="Input" datatype="Double" expression="in_clear_visibility_distance">
				<dialogReference>&lt;DIV STYLE="text-align:Left;"&gt;&lt;DIV&gt;&lt;P&gt;&lt;SPAN&gt;Distance where the visibility is considered as ideal for fuzzy visibility determination .&lt;/SPAN&gt;&lt;/P&gt;&lt;/DIV&gt;&lt;DIV&gt;&lt;P&gt;&lt;SPAN /&gt;&lt;/P&gt;&lt;/DIV&gt;&lt;/DIV&gt;</dialogReference>
			</param>
			<param name="in_use_curvature" displayname="Use earth curvature corrections?" type="Required" direction="Input" datatype="Boolean" expression="in_use_curvature">
				<dialogReference>&lt;DIV STYLE="text-align:Left;"&gt;&lt;DIV&gt;&lt;P&gt;&lt;SPAN&gt;Allows correction for the earth's curvature. Unchecked—No curvature correction will be applied(default). Checked—Curvature correction will be applied. &lt;/SPAN&gt;&lt;/P&gt;&lt;/DIV&gt;&lt;/DIV&gt;</dialogReference>
				<pythonReference>&lt;DIV STYLE="text-align:Left;"&gt;&lt;DIV&gt;&lt;P&gt;&lt;SPAN&gt;Coefficient of the refraction of visible light in air (default value 0.13).&lt;/SPAN&gt;&lt;/P&gt;&lt;/DIV&gt;&lt;/DIV&gt;</pythonReference>
			</param>
			<param name="in_ref_coeff" displayname="Refractivity coefficient " type="Required" direction="Input" datatype="Double" expression="in_ref_coeff"/>
		</parameters>
		<summary>&lt;DIV STYLE="text-align:Left;"&gt;&lt;DIV&gt;&lt;DIV&gt;&lt;P&gt;&lt;SPAN&gt;This tools calculates several characteristics from the Lines of Sight and adds the result as new fields to the attribute table.&lt;/SPAN&gt;&lt;/P&gt;&lt;/DIV&gt;&lt;/DIV&gt;&lt;/DIV&gt;</summary>
	</tool>
{% endblock %}	
{% block dataInfo %}
		<idCitation>
			<resTitle>Analyse of Lines of Sight</resTitle>
		</idCitation>
		<idAbs>&lt;DIV STYLE="text-align:Left;"&gt;&lt;DIV&gt;&lt;DIV&gt;&lt;P&gt;&lt;SPAN&gt;This tools calculates several characteristics from the Lines of Sight and adds the result as new fields to the attribute table.&lt;/SPAN&gt;&lt;/P&gt;&lt;/DIV&gt;&lt;/DIV&gt;&lt;/DIV&gt;</idAbs>
{% endblock %}