  <head>
    <meta charset="utf-8">
    <title>{{page.title}} - {{site.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap.min.css" media="screen">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/lightbox.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/flatly_my.css">
  </head>
 
