	<nav class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-primary">
		<div class="container">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<a href="{{ site.baseurl }}{% link index.html %}" class="navbar-brand">{{ site.title }}</a>
		  
			<div class="collapse navbar-collapse" id="navbarResponsive">
			  
			  <ul class="navbar-nav mr-auto">
				<li class="nav-item">
				  <a class="nav-link" href="{{ site.baseurl }}{% link tools.html %}">Tools</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="{{ site.baseurl }}{% link manual_citations.html %}">Manual and Citation</a>
				</li>
			  </ul>
			  
			  <ul class="nav navbar-nav ml-auto">
				<li class="nav-item">
				  <a href ="{{ site.github_link }}"><i class="fa fa-github fa-3x icon-white" aria-hidden="true"></i></a>
				</li>
				<li class="nav-item">
				</li>
			  </ul>
			  
			</div>
		</div>
    </nav>